@import '../../styles/global.css';
*{
    padding: 0%;
    margin: 0%;
}


.header {
  height: 75px;
  background-image: linear-gradient(to left,var(--navi) 0 1%,#0d3d47 17% 20% ,#041d42e7 30% , #0a0a2e 50% 80% );
  border-bottom: 1px solid rgba(59, 130, 246, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  box-sizing: border-box;
}

.header-title {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
}

.search-input {
  width: 380px;
  height: 40px;
  padding-left: 40px;
  padding-right: 16px;
  border: 1px solid rgba(193, 213, 245, 1);
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.16);
  color: #ffffff;
  transition: all 0.2s ease;
  backdrop-filter: blur(15px);
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.search-icon {
  position: absolute;
  left: 12px;
  color: #6b7280;
  pointer-events: none;
}

.icon-button {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.16);
  display: flex;
  border: 1px solid rgba(193, 213, 245, 1);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}

.icon-button:hover , .search-input:hover {
  background-color: rgba(255, 255, 255, 0.25);
  border-color: rgba(193, 213, 245, 0.8);
}

.search {
  position: relative;
  left: 30px;
  z-index: 1;
  size: 20px;
  color: #d1d5db;
  cursor: text;
}
